:root {
	--bodyColor:#E0E0E0;
	--fontSize:18px;
	--gap: 20;
};
body {
	background : var(--bodyColor);
	font-size  : var(--fontSize);
	background-image: url("../images/icon.jpg");
}
h1{
	transform  : rotate(4deg) scale(1) skew(1deg) translate(10px);
}
p{
	margin-top: var(--gap)px;
}


